<a href="https://colab.research.google.com/github/2303a51060Nirnaya/ADM-2025/blob/main/week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Data encoding
data = {'Category': ['Dog', 'Ball', 'Cat', 'Apple', 'Bat']}
df = pd.DataFrame(data)
# Label Encoder
label_encoder = LabelEncoder()
df['Label_Encoder'] = label_encoder.fit_transform(df['Category'])
# One-hot Encoder
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Label_Encoder  Category_Apple  Category_Ball  Category_Bat  \
0      Dog              4           False          False         False
1     Ball              1           False           True         False
2      Cat              3           False          False         False
3    Apple              0            True          False         False
4      Bat              2           False          False          True

   Category_Cat  Category_Dog
0         False          True
1         False         False
2          True         False
3         False         False
4         False         False

In [20]:
from datetime import datetime
import pandas as pd
# creating derived columns
data = {'Name': ['nirnaya', 'saiprasanna'], 'Date_of_Birth': ['2005-04-25', '2004-11-02']}
df = pd.DataFrame(data)
# Convert Date_of_Birth to datetime
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
# Calculate Age
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)
# Convert Date_of_Birth to datetime
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
# Calculate Age
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

          Name Date_of_Birth  Age
0      nirnaya    2005-04-25   20
1  saiprasanna    2004-11-02   21
          Name Date_of_Birth  Age
0      nirnaya    2005-04-25   20
1  saiprasanna    2004-11-02   21

In [27]:
import pandas as pd
# Grouping and Aggregating Data
data = {'Category': ['maths', 'pysics', 'Biology', 'telugu', 'english'],'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)
# Group by and aggregate
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)
# Pivot table
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Grouped Data:
          Value
           sum  mean
Category
Biology     10  10.0
english     40  40.0
maths       10  10.0
pysics      20  20.0
telugu      30  30.0

Pivot Table:
            sum  mean
         Value Value
Category
Biology     10  10.0
english     40  40.0
maths       10  10.0
pysics      20  20.0
telugu      30  30.0